/Homework1/fixed_data.p
/venv/
/venv_python310/
/Homework4/LangId.test
/Homework4/LangId.train.English
/Homework4/LangId.train.French
/Homework4/LangId.train.Italian
/Homework4/eng_bigram_data.p
/Homework4/eng_unigram_data.p
/Homework4/fra_bigram_data.p
/Homework4/fra_unigram_data.p
/Homework4/ita_bigram_data.p
/Homework4/ita_unigram_data.p
/Homework4/LangId.sol
/Homework4/LangId.calc
/Homework6/page1.txt
/Homework6/page2.txt
/Homework6/page3.txt
/Homework6/page4.txt
/Homework6/page5.txt
/Homework6/page6.txt
/Homework6/page7.txt
/Homework6/page8.txt
/Homework6/page9.txt
/Homework6/page10.txt
/Homework6/page11.txt
/Homework6/page12.txt
/Homework6/page13.txt
/Homework6/page14.txt
/Homework6/page15.txt
/Homework6/page16.txt
/Homework6/page17.txt
/Homework6/page18.txt
/Homework6/page19.txt
/Homework6/page20.txt
/Homework6/rangers_history.pickle
/Chatbot/flying_circus_corpus.pickle
/Chatbot/flying_circus_sentences.pickle
